[submodule "fw/thirdparty/libnmea"]
	path = fw/thirdparty/libnmea
	url = git@github.com:jacketizer/libnmea.git
[submodule "fw/thirdparty/pigpio"]
	path = fw/thirdparty/pigpio
	url = git@github.com:joan2937/pigpio.git
